.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.dinesh,.pranith{
    flex: 1;
}

.cover:hover{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}


