.login-form{
    min-height: 90vh;
    height: 100%;
    background-color: #283747;
    
}

.animation-widget{
    
    float: right;
    position: relative;
    animation: tilt 2s ease-in-out both infinite;
}



@keyframes tilt{
    0%{
        transform : rotate(0deg);
    }
    80%{
        transform : rotate(-20deg);
    }
    100%{
        transform : rotate(0deg);
    }
}